<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script>
 function btnAction()
        {

        }


  $.get("http://iot.rapi.link:30126/control/CLI5F33Q/%23%23DOWNLINK%23%23S%2CDOWNLINK%2CSETPWR%2CCLI6E55S%2CON%2CEND%7C");
});
</script>
<button class="btn">123</button>
<a href="http://iot.rapi.link:30126/control/CLI5F33Q/%23%23DOWNLINK%23%23S%2CDOWNLINK%2CSETPWR%2CCLI6E55S%2CON%2CEND%7C">ON</a>
<a href="http://iot.rapi.link:30126/control/CLI5F33Q/%23%23DOWNLINK%23%23S%2CDOWNLINK%2CSETPWR%2CCLI6E55S%2COFF%2CEND%7C">OFF</a>
</body>
</html>